player-connection-mode=Listen
player-connection-guid=2135601434
player-connection-debug=0
player-connection-project-name=Dont Come Like "Mikrop"
player-connection-ip=192.168.154.1
player-connection-ip=192.168.239.1
player-connection-ip=25.75.179.16
player-connection-ip=192.168.1.8
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
